{% extends "base.html" %}
{% block head %}
        <meta name="description" content="Interactive Visualizations of Trig Functions" />
        <meta name="author" content="Universe of Numbers" />
        <title>Universe of Numbers</title>
        <style>
            .axis path, .axis line {
                fill: none;
                stroke: black;
            }
        
            .flex-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        
            .flex-item {
                /* The flex value allows the items to be the same size */
                flex: 1;
            }
        
            @media only screen and (min-width: 768px) {
                .flex-container {
                    flex-direction: row;
                }
            }
            svg {
                width: 100%;
                height: auto;
            }
        </style>
        <script type="module" src="../../static/js/trigonometry/trig-visualizer/main.js"></script>

        
{% endblock %}
    
{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Visualizing Trig Functions</h1>
                        <h2 class="subheading">Using the unit circle to understand and evaluate trigonometric functions</h2>
                        <span class="meta">
                            Posted by
                            Universe of Numbers
                            on September 17, 2023
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    <div class="flex-container">
                        <div id="circle-container" class="flex-item m-2"></div>
                        <div id="plot-container" class="flex-item m-2"></div>
                    </div>
                    
                    <div class="text-center">
                        <input type="range" min="-360" max="360" value="0" id="slider">
                    </div>

                    <div class="checkbox-container">
                        <div class="row">
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showDegrees" disabled checked> Deg:</label>
                                <span id="degreeValue">0.00</span>
                            </div>
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showRadians" disabled checked> Rad:</label>
                                <span id="radianValue">0.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showSine" checked> Sin:</label>
                                <span id="sineValue">0.00</span>
                            </div>
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showCosine" checked> Cos:</label>
                                <span id="cosineValue">1.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showTangent" unchecked> Tan:</label>
                                <span id="tangentValue">0.00</span>
                            </div>
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showCotangent" unchecked> Cot:</label>
                                <span id="cotangentValue">Undef</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showSecant" unchecked> Sec:</label>
                                <span id="secantValue">1.00</span>
                            </div>
                            <div class="checkbox-item col-6">
                                <label><input type="checkbox" id="showCosecant" unchecked> Csc:</label>
                                <span id="cosecantValue">Undef</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
